.landingh3{
    color: var(--primary-lt);
}
.navbuttons{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px auto;
    gap: var(--sp-md);
}
.loginbutton{
    background: var(--secondary);
    padding: var(--sp-xs) var(--sp-md);
    align-self: center;
    border-radius: 5px;
}
.loginbutton:hover{
    background: var(--secondary-lt);
}
.createaccountbutton{
    padding: var(--sp-xs) var(--sp-md);
    border: 2px solid var(--secondary);
    border-radius: 5px;
}
.createaccountbutton:hover{
    background: var(--secondary);
    color: var(--primary-lt);
}
.navlinks{
    text-decoration: none;
}
.navlinks:visited{
    color: var(--primary);
}
.navlinks:active{
    color: #fff;
}
