.button{
    background: var(--secondary);
    border: none;
    width: 100px;
    height: 40px;
    align-self: center;
    font-weight: 600;
    border-radius: 5px;
}
.button:hover{
    background: var(--secondary-lt);
}